.Rproj.user
.Rhistory
.RData
.Ruserdata
/Tests_injections/data
/Tests_injections/extdata
/Tests_injections/Igismap
/Tests_injections/Campagne_odonate_V2.csv
/Tests_injections/Campagne_odonate_V3_slashes.csv